@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bt-color: #007bff; /* Default button color for light mode */
  --btn-text-color: #ffffff; /* Default button text color for light mode */
}

[data-theme='dark'] {
  --bt-color: #ff6b00; /* Button color for dark mode */
  --btn-text-color: #ffffff; /* Button text color for dark mode */
}

body {
  transition-property: color, background-color;
  transition-duration: 500ms;
  font-family: var(--font-roboto-mono), monospace;
}

body[data-theme='light'] {
  background-color: white;
  color: black;
}

body[data-theme='dark'] {
  background-color: #111827; /* This is the Tailwind gray-900 color */
  color: white;
}

h1, h2, button {
  font-family: var(--font-rubik), sans-serif;
}

/* Custom utility classes for the flip card */
.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.perspective-1000 {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.filter-drop-shadow {
  filter: drop-shadow(0 0 5px var(--bt-color));
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate-fadeInOut {
  animation: fadeInOut 0.5s ease-in-out;
}