@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --bt-color: #007bff; /* Default button color for light mode */
    --btn-text-color: #ffffff; /* Default button text color for light mode */
  }

  [data-theme="dark"] {
    --bt-color: #ff6b00; /* Button color for dark mode */
    --btn-text-color: #ffffff; /* Button text color for dark mode */
  }

  body {
    @apply transition-colors duration-500;
  }

  body[data-theme="light"] {
    @apply bg-white text-black;
  }

  body[data-theme="dark"] {
    @apply bg-gray-900 text-white;
  }
}
